@mixin connectionButton($color, $hoverColor, $textColor, $content, $overContent) {
    .buttonCon{
        background-color: $color;
        border: 1px solid shade($color, 10%);
        border-radius: 2px;
        color: $textColor!important;
        cursor: pointer;
        display: inline-block;
        line-height: 100%;
        font-smooth: always;
        font-weight: bold;
        padding: 9px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 115px;
        &:after{
            content: $content;
        }
    }
    &:hover {
        .icon, .buttonCon {
            background-color: $hoverColor;
            border: 1px solid shade($hoverColor, 10%);
            color: white!important;
        }
        .buttonCon:after {
            content: $overContent;
        }
    }
}