
<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org">
<head>
    <link type="text/css" rel="stylesheet" href="./styles/sassified/rallyKit.css"/>
    <link type="text/css" rel="stylesheet" href="./vendors/styles/bootstrap.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="./scripts/modal.js"></script>
    <script src="./templates/modal.html"></script>
</head>
<body ng-app="sampleApp" ng-controller="modalCtrl">
<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>
<p>paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<br/>
Anchor: <a href="http://www.werally.com">go to rally!</a>
<br/>
<button class="robo-btn">normal button</button>
<button class="robo-btn robo-btn-action">action button</button>
<button class="robo-btn robo-btn-lg">large button</button>
<button class="robo-btn disabled">disabled button</button>
<br/>
<br/>
<button class="robo-btn" ng-click="openModal()">click to open modal</button>
<br/>
<h1>Sample Form:</h1>
<form name="fulfillmentForm" novalidate id="fulfillmentForm">
    <h2>Shipping address</h2>
    <p>
        <label for="firstName" class="hidden508">First name</label>
        <input id="firstName" ng-model="claimData.firstName" type="text" ng-required="true" placeholder="First name">
    </p>
    <p>
        <label for="lastName" class="hidden508">Last name</label>
        <input id="lastName" ng-model="claimData.lastName" type="text" ng-required="true" placeholder="Last name">
    </p>
    <p>
        <label for="companyName" class="hidden508">Company name (optional)</label>
        <input id="companyName" ng-model="claimData.companyName" type="text" placeholder="Company name (optional)">
    </p>
    <p>
        <label for="addr1" class="hidden508">Street address</label>
        <input id="addr1" ng-model="claimData.streetAddress" type="text" ng-required="true" placeholder="Street address">
    </p>
    <p>
        <label for="addr2" class="hidden508">Street address 2 (optional)</label>
        <input id="addr2" ng-model="claimData.streetAddress2" type="text" placeholder="Street address 2 (optional)">
    </p>
    <p class="cityStateZip">
                <span>
                    <label for="city" class="hidden508">City</label>
                    <input id="city" ng-model="claimData.city" type="text" ng-required="true" placeholder="City" class="inlineBlock">
                </span>
                <span class="statesDropDown">
                    <label for="state" class="hidden508">State</label>
                    <select id="state" ng-model="claimData.state" ng-required="true">
                        <option value="" selected="selected">State</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </span>
                <span validate-fields-on-blur>
                    <label for="zipcode" class="hidden508">Zipcode</label>
                    <input id="zipcode"
                           placeholder="Zipcode"
                           type="text"
                           ng-required="true"
                           ng-model="claimData.zipcode"
                           maxlength="5"
                           ng-minlength="5"
                           ng-maxlength="5"
                           validation-msg="Please enter 5 digits for zipcode."
                           ng-pattern="/^\d+$/">
                </span>
    </p>

    <div class="personalization" ng-if="personalization.show">
        <h2>Product details</h2>
        <p class="gender" ng-if="personalization.indexOf('gender') !== -1">
            <label for="male" class="inlineBlock">
                <input type="radio"
                       name="gender"
                       ng-click="updateGender('male')"
                       id="male"
                       ng-model="gender"
                       ng-required="true"
                       value="male"> Male
            </label>

            <label for="female" class="inlineBlock">
                <input type="radio"
                       name="gender"
                       ng-click="updateGender('female')"
                       id="female"
                       ng-model="gender"
                       ng-required="true"
                       value="female"> Female
            </label>
        </p>
    </div>
    <div class="actionBtns clearfix">
        <button class="robo-btn robo-btn-action"
                ng-click="confirmClaimForm(reward)"
                ng-disabled="fulfillmentForm.$invalid || incompleteShoeField()">Submit
        </button>
        <button class="robo-btn"
                ng-click="cancelForm()"
                confirm-if="fulfillmentForm.$dirty"
                ng-disabled="fulfillmentForm.$pristine"
                robo-confirm="Are you sure you want cancel?">Cancel
        </button>
    </div>
</form>
</body>