<div>
    <div class="close" ng-click="$close()">
        <i aria-hidden="true" class="icon-thinXCircle"></i>
    </div>
    <div class="img-container">

    </div>
    <div class="content-container">
        <h1>Are you sure you want to quit?</h1>
        <p>Quitting a mission early is bad.</p>
    </div>
    <div class="btn-container">
        <button class="robo-btn robo-btn-action" ng-click="confirm()">Confirm</button>
        <button class="robo-btn" ng-click="$dismiss()">Cancel</button>
    </div>
</div>