%modal-ng {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin-left: -280px;
    outline: none;
    position: fixed;
    top: 10%;
    width: 560px;
    z-index: 1050;
}